:root,
[data-style-mode='light'],
.light-mode {
    --font-family: 'Open Sans', sans-serif;
    --font-family-header: 'Oswald', sans-serif;
    --font-size: 1rem;
    --opacity-on-hover: 0.7;
    --transition: all var(--p-transition-duration) ease-out;
    --max-container-width: 1366px;
    --background: var(--p-surface-0);
    --p-text-color: var(--p-surface-950);
    --p-button-border-radius: 25px;
    --p-button-padding-x: 25px;
    --p-button-sm-padding-x: 25px;
    --p-primary-color: var(--p-cyan-800);
}

[data-style-mode='dark'],
.dark-mode {
    --background: var(--p-surface-950);
    --p-text-color: var(--p-surface-0);
    --p-primary-color: var(--p-cyan-500);
}
